name: Python CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del repositorio
      uses: actions/checkout@v4

    - name: Configurar Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.14'

    - name: Instalar dependencias
      run: |
        pip install -r requirements.txt
        pip install --upgrade pip
        pip install pytest

    - name: Ejecutar el script principal
      run: |
        python script.py
    
    - name: Ejecutar tests con pytest
      run: |
        pytest

